body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

* {
    box-sizing: border-box;
}

/* NAV SECTION1 */

.mainbox {
    margin-left: 50px;
    margin-right: 50px;
}
.box {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.logo {
    border: 2px solid #333;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.contacts {
    border: 1px solid #333;
    padding: 15px;
}

/* SECTION2 */

.box2 {
    display: flex;
    align-items: center;
    justify-content: center;
     margin-top: 50px;
    border: 1px solid #333;
    height: 15vh;
    text-align: center;
}
.minibox2 {
    margin-top: 30px;
    border: 1px solid #333;
    border-radius: 5px;
    background-color: rgb(4, 255, 37);
    display: flex;
    justify-content: center;
    color: #fff;
}
.buttonbox {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button2 {
    padding: 20px 45px;
    border: 1px solid #333;
    border-radius: 30px;
    background-color: rgb(6, 175, 29);
    cursor: pointer;
}
.button3 {
    padding: 20px 70px;
    border: 1px solid #333;
    border-radius: 30px;
    background-color: rgb(6, 175, 29);
    cursor: pointer;
}

/* SECTION3 */

.bigbox3 {
  
    display: flex;
    justify-content: center;
    
}
.box3 {
    margin-top: 50px;
    border: 1px solid #333;
    padding: 15px 30px;
}

/* SECTION4 */

.bigbox4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 15px;
    margin-top: 30px;
    
}
.box4 {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #333;
    height: 90px;
    transition: all 600ms;
}
.box4:hover {
    background-color: rgb(204, 194, 61);
}
.box4:first-child {
    padding-left: 35px;
}
.box4:last-child {
    padding-left: 25px;
}

/* SECTION5 */

.bigbox5 {
    margin-top: 20px;
    border: 1px solid #333;
    height: 40vh;
    display: flex;
    flex-direction: column;

}
.aiming {
    transition: all 600ms;
    opacity: 0.1;
}
.aiming:hover {
    opacity: 1;
}
.consultbox {
    height: 29vh;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
.consultation {
    margin-right: 15px;
    background-color: rgb(4, 255, 37);
    color: #fff;
    border-radius: 14px;
    text-align: center;
    cursor: pointer;
}

/* SECTION6 */

.bigbox6 {
    margin-top: 25px;
    display: flex;
    justify-content: center;
}
.box6 {
    border: 1px solid #333;
    padding: 15px;
    margin-right: 45px;
    transition: all 600ms;
    cursor: pointer;
}

.box6:hover {
    background-color: rgb(4, 255, 37);
}

/* SECTION7 */

.bigbox7 {
    display: flex;
    margin-top: 50px;
}
 
.women {
    border: 1px solid #333;
    width: 60vw;
    /* height: 75vh; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 35px;
}
.zxc {
    text-align: center;
    margin-bottom: 15px;
}
.repair {
    background-color: rgb(4, 255, 37);
    border-radius: 15px;
    color: #fff;
}
.time {
    border: 1px solid #333;
}
.repair2 {
    background-color: rgb(4, 255, 37);
    border-radius: 15px;
    color: #fff;
}
.service {
    background-color: rgb(241, 230, 74);
    border: 1px solid #333;
}
.guarante {
    background-color: rgb(4, 255, 37);
    border-radius: 15px;
    color: #fff;
}
.text {
    border: 1px solid #333;
}
.text2 {
    font-weight: bold;
    background-color: rgb(4, 255, 37);
    border-radius: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.text3 {
    border: 1px solid #333;
}
.text4 {
    background-color: rgb(4, 255, 37);
    border-radius: 15px;
    color: #fff;
}
.text5 {
    background-color: rgb(241, 230, 74);
    border: 1px solid #333;
}
.text6 {
    border: 1px solid #333;
  
}

/* SECTION8 */

.bigbox8 {
    display: flex;
    margin-top: 50px;
}
.box8 {
    display: flex;
    flex-direction: column;
   
}
.blocks {
    text-align: center;
    border: 1px solid #333;
    padding: 25px;
    width: 44vw;
    margin-bottom: 15px;
    margin-right: 40px;
}
.consultbox8 {
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.consult8 {
    border: 1px solid #333;
    border-radius: 25px;
    background-color: rgb(4, 255, 37);
    padding: 15px 65px;
    color: #fff;
    cursor: pointer;
}

/* SECTION9 */

.bigbox9 {
    display: flex;
    justify-content: space-between;
}

.keis {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40vw;
    height: 40vh;
    border: 1px solid #333;
    margin-bottom: 25px;
}
.specbox9 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.howweworks {
    border: 1px solid #333;
    text-align: center;
    padding: 15px 105px;
}

/* SECTION10 */

.bigbox10  {
    display: flex;
    margin-top: 50px;
}
.box10 {
    border: 1px solid #333;
    padding: 30px 70px;
    margin-right: 50px;
}

/* SECTION11 */

.bigbox11 {
    display: flex;
    margin-top: 30px;
}
.box11 {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #333;
    border-radius: 15px;
    margin-right: 50px;
    padding: 8px 17px;
}
.osmotrbox {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
.osmotr {
    background-color: rgb(4, 255, 37);
    color: #fff;
    padding: 20px 80px;
    border: 1px solid #333;
    border-radius: 15px;
}
.speakbox {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
.speak {
    border: 1px solid #333;
    padding: 25px 140px;
}

/* SECTION12 */

.bigbox12 {
    display: flex;
    margin-top: 30px;
}

.photobox {
    border: 1px solid #333;
    width: 30vw;
    height: 30vh;
    margin-right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.phototextbox {
    display: flex;
    align-items: center;
    justify-content: center;
}
.phototext {
    margin-top: 30px;
    border: 1px solid #333;
    border-radius: 30px;
    padding: 20px 35px;
}
.buttonbox12 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
.button12 {
    background-color: rgb(4, 255, 37);
    padding: 25px 110px;
    border: 1px solid #333;
    border-radius: 25px;
    color: #fff;
}
.button12:hover {
    background-color: rgb(1, 131, 8);
}
.questionsbox {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
.questions {
    border: 1px solid #333;
    padding: 15px 110px;
}

/* SECTION13 */

.bigbox13 {
    display: flex;
    margin-top: 30px;
}
.box13 {
    display: flex;
    flex-direction: column;
    margin-right: 5px;
}

.minibox13 {
    border: 1px solid #333;
    padding: 15px 25px;
    border-radius: 35px;
    margin-bottom: 10px;
    white-space: nowrap;
}
.minbox13 {
    border: 1px solid #333;
    padding: 15px 25px;
    margin-bottom: 10px;
    white-space: nowrap;
    
}
.minibox13:hover {
    background-color: rgb(241, 230, 74);
}
.minbox13:hover {
    background-color: rgb(241, 230, 74);
}
.firebuttonbox {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}
.firebutton {
    border: 1px solid #333;
    border-radius: 25px;
    background-color: rgb(4, 255, 37);
    color: #fff;
    padding: 20px 90px;
}
.firebutton:hover {
    background-color: rgb(11, 129, 27)
}

/* SECTION14 */

.infobox14 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.info {
    border: 1px solid #333;
    padding: 25px 100px;
}

@media (max-device-width: 995px) {
    /* SECTION1 */
    .logo {
        font-size: 45px;
    }
    .contacts {
        font-size: 45px;
    }
    /* SECTION2 */
    .box2 {
        font-size: 45px;
    }
    .minibox2 {
        font-size: 45px;
        text-align: center;
    }
    /* SECTION3 */
    .box3 {
        font-size: 45px;
        text-align: center;
    }
    /* SECTION4 */
    .bigbox4 {
        display: flex;
        flex-direction: column;
    }
    .box4 {
        font-size: 35px;
        padding: 25px;
        
    }
    /* SECTION5 */
    .aiming {
        font-size: 25px;
    }
    .consultation {
        font-size: 30px;
    }
    /* SECTION6 */
    .bigbox6 {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    /* SECTION7 */
    .consult8 {
        font-size: 45px;
    }
    /* SECTION10 */
    .bigbox10 {
       display: flex;
       flex-direction: column;
       text-align: center;
    }
    /* SECTION11 */
    .bigbox11 {
        display: flex;
        flex-direction: column;
        font-size: 45px;
    }
    /* SECTION12 */
    .phototext {
        font-size: 45px;
    }
    .button12 {
       padding-right: 135px;
    }
    /* SECTION13 */
    .bigbox13 {
        display: flex;
        flex-direction: column;
        font-size: 25px;
        
    }
    .minbox13 {
        white-space: normal;
    }
}






