


/* Обнуление */
*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
ul,
ol,
li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
html,
body {
	height: 100%;
	line-height: 1;
}

body {
	font-size: 12px; 
	font-family: Rubick;
	color: #616161;
}

.wrapper {
	overflow: hidden;
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
.main {
	flex: 1 1 auto;
}
[class*="__container"] {
	max-width: 1087px;
	margin: 0 auto;
	padding: 0 15px;
}
/* PC */
@media (max-device-width: 1087px) {
	[class*="__container"] {
		max-width: 970px;
	}
}
/* TABLET */
@media (max-device-width: 991px) {
	[class*="__container"] {
		max-width: 750px;
	}
}
/* MOBILE */

@media (max-device-width: 767px) {
	[class*="__container"] {
		max-width: none;
	}
}
/* MOBILE SMALL*/

@media (max-device-width: 479px) {
	
}

.header {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 50;
}
.header__container {
	display: flex;
	min-height: 114px;
	align-items: center;
}
.header__logo {
	position: relative;
	z-index: 5;
}
.header__menu {
	flex: 1 1 auto;
}
.header__button {
	z-index: 5;
	flex: 0 0 252px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

@media (max-device-width: 991px) {
	.header__container {
		min-height: 80px;
	}
	.header__button {
		flex: 0 0 170px;
	}
	.menu__item {
		margin: 0px 30px 0px 0px;
	}
}
.menu {
	display: flex;
	justify-content: flex-end;
	
}
.menu__list {
	display: flex;
	
}
.menu__item {
	margin: 0px 40px 0px 0px;
}
@media (max-device-width: 991px) {
	.menu__item {
		margin: 0px 30px 0px 0px;
	}
}
@media (max-device-width: 767px) {
	.menu__body {
		
		position: fixed;
		top: 0;
		left: -100%;
		width: 100%;
		height: 100%;
		overflow: auto;
		background-color: #fff;
		padding: 90px 15px 30px 15px;
		transition: all 600ms;
	}
	.header:target .menu__body {
		left: 0;
	}
	.header:target .menu__body::before {
		content: '';
		position: fixed;
		top: 0;
		left: 0;
		height: 80px;
		width: 100%;
		background-color: #fff;
	}
	.menu__list {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		
	}
	.menu__item {
		margin: 0px 0px 25px 0px;
	}
	.menu__item:last-child {
		margin-bottom: 0px;
	}
	.menu__link {
		/* color: #fff !important; */
		font-size: 35px !important;
	}
	
}

@media (max-device-width: 479px) {
	.header__logo{
		flex: 0 0 40px;
		overflow: hidden;
	}
	
}
.menu__link {
	font-family: Raleway;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 10px;
	line-height: 1.2;
	color: #000;
	letter-spacing: 1px;
}
.menu__link:hover {
	text-decoration: underline;
}


.button {
	display: inline-block;
	text-transform: uppercase;
	font-family: Raleway;
	font-weight: 800;
	font-size: 10px;
	line-height: 12px;
	letter-spacing: 0.14rem;
	color: #fcfdfe;
	padding: 14px 30px;
	border-radius: 5px;
	background-color: #ec5863;
	transition: all 600ms;
}
.button:hover {
	background-color: #f37a82;
}
.button__blue {
	background-color: #4285f4;
}
.button__blue:hover {
	background-color: #77a7f3;
}

/* /////////////// BURGER MENU */
.close-icon-menu,
.icon-menu {
	display: none;
}
@media (max-device-width: 767px) {
	.icon-menu {
		position: relative;
		flex: 0 0 30px;
		height: 18px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		margin: 0px 0px 0px 20px;
	}
	
}
.icon-menu::before,
.icon-menu::after {
	content: '';
	background-color: #000;
	height: 2px;

}
.icon-menu span {
	background-color: #000;
	height: 2px;
}
.close-icon-menu {
	position: relative;
	flex: 0 0 30px;
	height: 18px;
}
@media (max-device-width: 767) {
	.icon-menu {
		display: flex;
	}
}
.close-icon-menu::before,
::after {
	content: '';
	background-color: #000;
	height: 2px;
}

.close-icon-menu::before {
	transform: rotate(-32deg);
}

.close-icon-menu::after {
	transform: rotate(32deg);
}

.header:target .icon-menu {
	display: none;
}

.header:target .close-icon-menu {
	display: flex;
}

/* ======================================== MAIN */
.block-text {

}
.block-text_center {
	text-align: center;
}
.block-text__text_mw {
	max-width: 600px;
	margin: 0 auto;
}
.block-text__title {
	font-weight: 700;
	font-size: 44px;
	line-height: 126%;
	color: #000;
}
.block-text__title:not(:last-child) {
	margin: 0px 0px 12px 0px;
}
.block-text-title span {
	color: #ec5863;
}
.block-text-title_blue span {
	color: #4285f4;
}
.block-text__text:not(:last-child) {
	margin: 0p 0px 24px 0px;
}
/* ========================================= */
.get-started {
	background-color: #fafbf4;
	
}
.get-started__container {
	padding: 150px 15px 50px 15px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	position: relative;
}
.get-started__container::before {
	content: '';
	position: absolute;
	width: 100vw;
	height: 100%;
	right: 267px;
	top: 0;
	transform: translate(100%, 0px);
	border-radius: 30px 0px 0px 0px;
	background-color: #ec5863;

}

@media (max-device-width: 991px) {
	.get-started__container::before {
		right: 185px;
		border-radius: 20px 0px 0px 20px;
	}
}
@media (max-device-width: 767px) {
	.get-started__container {
		display: flex;
		flex-direction: column;
		padding: 100px 15px 30px 15px;
	}
	.get-started__container::before {
		display: none;
	}
	.get-started__block-text {
		max-width: none;
		
	}
	.get-started__contnent {
		flex: 1 1 100%;
		padding: 0;
	}
	.get-started__image {
		flex: 1 1 100%;
		text-align: center;
		padding: 30px 0px;
	}
	.get-started__video {
		padding: 0;
	}
}
.get-started__contnent {
	flex: 0 1 47%;
	padding: 0px 20px;
}
.get-started__block-text {
	max-width: 410px;
}
.get-started__video {
	flex: 1 1 100%;
	padding: 60px 0px 0px 20px;
}

.get-started__image {
	flex: 0 1 50%;
	position: relative;
	z-index: 2;
}
.video-get-started {
	display: inline-flex;
	align-items: center;
}
.get-started__image img {
	max-width: 100%;
}

.video-get-started {
	flex: 0 0 44px;
}
.video-get-started__body {

	padding: 0px 0px 0px 12px;
}
.video-get-started__title {
	color: #b0b0b0;
	font-size: 13px;
	line-height: 126%;
	letter-spacing: 1.5px;
}
.video-get-started__title:not(:last-child) {
	margin: 0px 0px 5px 0px;
}
.video-get-started__text {
	text-transform: uppercase;
	font-size: 9px;
	line-height: 126%;
	letter-spacing: 2px;
}


 /* ================================ */

.stay-safe {
	padding: 80px 0px;
}
.stay-safe__container {
	display: flex;
	align-items: center;
}
.stay-safe__media {
	flex: 0 1 50%;
	padding: 0px 0px 0px 47px;

}


.stay-safe__content {
	flex: 0 1 50%;
}
.stay-safe__block-text {}


.media-stay-safe {
	width: 373px;
	padding: 56px 0px 27px 0px;
	text-align: center;
	position: relative;
}
.media-stay-safe__image {
	display: inline-block;
	box-shadow: 2px 4px 32px rgba(0, 0, 0, 0.12);
	border-radius: 16px;
	position: relative;
	width: 61.5%;
}
.media-stay-safe__image img {
	position: relative;
	z-index: 5;
	max-width: 100%;
}

.media-stay-safe__image::after {
	content: '';
	position: absolute;
	bottom: -12px;
	left: 12px;
	width: 206px;
	height: 27px;
	z-index: 2;
	background: rgba(240, 240, 240, 0.49);
	border-radius: 16px;
}

.media-stay-safe__item {
	position: absolute;
	background-color: #EC5863;
	border-radius: 30px;
	height: 77px;
	width: 77px;
}
.media-stay-safe__item_1 {
	top: 0;
	left: 0;
	width: 147px;
	height: 147px;
}
.media-stay-safe__item_2 {
	bottom: 35px;
	left: 33px;
}
.media-stay-safe__item_3 {
	bottom: 107px;
	right: 34px;
}


@media (max-device-width: 991px) {
	.stay-safe {
		padding: 40px 0px;
	}
}
@media (min-device-width: 991px) {
	
	.stay-safe__media {
		padding: 0px 0px 0px 47px;
	}
}

@media (max-device-width: 767px) {
	.stay-safe {
		padding: 30px 0px;
	}
	.stay-safe__container {
		flex-direction: column-reverse;
	}
	.stay-safe__content {
		margin: 0px 0px 30px 0px;
	}
	
}

@media (max-device-width: 479px) {
	.media-stay-safe {
		width: 290px;
	}
}

/* ================================== */

.experts {
	background-color: #fafbfd;
	padding: 103px 0px 116px 0px;
}

.experts__container {}

.experts__statistics {
	
}
.experts__block-text {
	max-width: 400px;
}


.statistics-experts {
	max-width: 655px;
	margin: 0 auto;
	position: relative;
}
.experts__body {
	display: flex;
	align-items: center;
}
.experts__content {
	flex: 0 1 50%;
	padding: 0px 20px 0px 0px;
}

.experts__video {
	flex: 0 1 50%;
	padding: 0px 0px 30% 0px;
	position: relative;
	box-shadow: 0px 4px 18px rgba(88, 126, 236, 0.18);
	border-radius: 8px;
	overflow: hidden;
}
.experts__video iframe {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;	
	object-fit: cover;
}

@media (max-device-width: 767px) {
	.experts {
		padding: 80px 0px 30px 0px;
	}
	.experts__body {
		align-items: stretch;
		flex-direction: column;
	}
	.experts__video {
		padding: 0px 0px 58% 0px;
	}
	.experts__content {
		padding: 0;
		margin: 0px 0px 30px 0px;
	}
}


.statistics-experts__body {
	background-color: #fff;
	box-shadow: 0px 2px 24px rgba(88, 126, 236, 0.15);
	border-radius: 16px;
	position: relative;
	z-index: 2;
	border: 2px solid #000;
	margin: 0px 0px 80px 0px;
}


.statistics-experts__decor {
	position: absolute;
	background-color: #ec5863;
	border-radius: 30px;
}

.statistics-experts__decor_1 {
	width: 65px;
	height: 65px;
	transform: rotate(-30deg);
	bottom: -21px;
	left: -21px;
	border-radius: 16px;
}

.statistics-experts__decor_2 {
	width: 97px;
	height: 97px;
	right: 50%;
	top: -40px;
	transform: rotate(30deg);
}

.statistics-experts__decor_3 {
	width: 128px;
	height: 128px;
	right: -65px;
	top: 0;
	transform: rotate(-30deg);
}



.body-statistics-experts {
	padding: 25px 80px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.body-statistics-experts__item {
	flex: 1 1 25%;
}
.body-statistics-experts__item:last-child {
	flex: 0 1 50%;
}

.body-statistics-experts__value {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.2;
	letter-spacing: 1px;
	color: #ec5863;
	margin-bottom: 5px;
}

.body-statistics-experts__text {
	font-weight: 700;
	font-size: 11px;
	line-height: 1.8;
	letter-spacing: 3px;
	text-transform: uppercase;
	color: #000;
}

@media (max-device-width: 767px) {
	.statistics-experts__body {
		margin: 0px 0px 50px 0px;
	}
	.body-statistics-experts {
		padding: 25px;
	}
}


@media (max-device-width: 470px) {
	.body-statistics-experts {
		flex-direction: column;
		text-align: center;
	}	
	.body-statistics-experts__item:not(:last-child) {
		margin: 0px 0px 15px 0px;
	}
}

/* ======================================= */



.healthcare__block-text {
	margin: 0px 0px 45px 0px;
}






























