body {
	margin: 0;
	padding: 0;
}
* {
	box-sizing: border-box;
}

.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}
/*nav*/
.bg {
	background: url(../images/bg.jpg);
	height: 100vh;
	background-repeat: no-repeat;

}
.header {
	display: flex;
	justify-content: space-between;
	padding-top: 50px;
}
.nav-link {
	text-decoration: none;
	color: #fff;
	font-size: 25px;
	padding-right: 15px;
}
.line {
	height: 3px;
	width: 100%;
	background-color: #fff;
}
.logo {
	color: #fff;
	font-size: 25px;
}
.contacts {
	color: #fff;
	font-size: 25px;
}
.maintext {
	margin-top: 50px;
}

/*Media*/

@media (max-width: 991px) {
	.header {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.logo {
		font-size: 75px;
	}
	.nav-link {
		font-size: 55px;
	}
	.contacts {
		font-size: 55px;
	}
	.bg {
	background: url(../images/bg.jpg);
	height: 53vh;
	background-repeat: no-repeat;

}

}
/*Main*/

.imgbox {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

}
.cuvget {
	background: url(../images/main1.jpg);
	width: 60vw;
	height: 55vh;
	background-repeat: no-repeat;
	margin-top: 50px;
	background-size: cover;
	border-radius: 20%;
}
.maintext {
	font-size: 25px;
	text-align: center;
}

@media (max-width: 991px) {
	.maintext {
		font-size: 36px;
		
	}
	.cuvget {
		height: 20vh;
	}
}

/*cosmetic*/

.cosmetic {
	background: url(../images/bg3.jpg);
}
.bigbox {
	display: flex;
}
.linebox {

}
.imgmini {
	width: 400px;
	height: 400px;
}
.minibox {
	display: flex;
	flex-direction: column;
	text-align: center;
}
@media (max-width: 991px) {
	.bigbox {
		display: flex;
		flex-direction: column;
	}
	.minibox {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}

/*Textblock*/

.textblock {
	background: url(../images/bg2.jpg);
	height: 35vh;
	width: 100%;
}
.bottomtext {
	color: #fff;
	text-align: center;
	padding-top: 10%;
	font-size: 25px;
}
@media (max-width: 991px) {
	.bottomtext {
		font-size: 45px;
	}
}

/*Footer*/
.footer {
	background: url(../images/bg4.jpg);
	width: 100%;
	height: 25vh;
}
.footerlinks {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 25vh;
}
.nav-link2 {
	text-decoration: none;
	color: #fff;
	font-size: 25px;
}
@media (max-width: 991px) {
	.nav-link2 {
		font-size: 45px;
	}
}