
body {
    margin: 0;
    padding: 0;
    font-family: Montserrat;
    
}

* {
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
    padding: 0;
}
/* START */
.container_nav {
    padding-top: 100px;
}
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.firstbox {
    display: flex;
    justify-content: space-between;
    color: #126E99;
    margin-bottom: 31px;
    
}

.first_mini_box {
   font-size: 28px;
   font-weight: bold;
   font-size: 24px;
}

.second_mini_box {
    font-size: 12px;
    font-weight: bold;
    
}
/* NAVIGATION */
.nav {
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin-bottom: 63px;
}
.line {
    height: 2.2px;
    width: 100%;
    max-width: 1200px;
    background-color: #126E99;
}

.message {
    background-color: #126E99;
    color: #fff;
    width: 100%;
    max-width: 1021px;
    margin: 0 auto;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 24px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    text-align: center;
}

/* MIDDLE */

.big_box {
    display: grid;
    grid-template-columns: 1fr 1.5px 1fr 1.5px 1fr;
    gap: 22.6px;
    height: 100%;
    
}

.first_box1 {
    color: #61BBEA;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 41px;
    
   
}

.hr {
    height: 45vh;
    width: 2.2px;
    background-color: #EDEDED;
 
}
.mini_box {
    
    margin-bottom: 25px;
    font-weight: 500;
    font-size: 20px;
    display: grid;
    align-items: flex-end;
    
   
}

.mini_box:last-child {
    margin-bottom: 0px;
}
.middle_box {
    /* border-left: 2px solid #EDEDED; */
    margin-top: -5px;
    display: grid;
    
    
   
}

.mid_ul {
    margin: 0;
    padding: 0;
    display: grid;
    justify-content: stretch;
    
    
    
  
}


/* MEDIA QUERIES */


@media (max-device-width: 1180px) {
    .big_box {
        display: grid;
        grid-template-columns: 1fr;
        
    }
    .middle_box {
        display: grid;
        justify-content: center;
        align-items: center;
    }
    .mid_ul {
        display: grid;
        justify-content: center;
    }
    .first_box1 {
        display: grid;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .hr {
        max-width: 1200px;
        width: 100%;
        height: 2.2px;
    }
    .firstbox {
        display: flex;
        flex-direction: column;
    }
    .footer_2 {
        display: flex;
        flex-direction: column;
    }
    .firstbox {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .footer_box_3 {
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
    }
    .adres {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}

@media (max-device-width: 741px) {
    .footer_1 {
        display: flex;
        flex-direction: column;
    }
    .link {
        display: flex;
        justify-content: center;
    }
    .logo_box {
        display: flex;
        justify-content: center;
        margin-top: 50px;
    }
}





/* FOOTER LVL 1 */
.footer_1 {
    display: flex;
    justify-content: space-between;
    margin-top: 57px;
}



.link_box {
    background-color: #18aef3;
    color: #fff;
    /* padding: 20px; */
    
}

.link {
    text-decoration: none;
    color: #fff;
    text-align: center;
    padding: 15px;
    position: relative;
    display: flex;
    align-items: center;
    border: 5px solid #006D99;
    font-size: 15px;
    font-weight: 800;
    
}

.logo_box {
    display: flex;
    align-items: flex-end;
}


/* FOOTER LVL 2 */

.hr_footer {
    margin-top: 50px;
}

.footer_2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer_text {
    color: #61BBEA;
    font-size: 12px;
    font-weight: 400;
}

.footer_box_3 {
   text-align: center;
   color: #61BBEA;
   font-size: 12px;
   font-weight: 400;
}

.adres {
    display: flex;
    flex-direction: column;
}
.adres001 {
    display: flex;
    justify-content: flex-end;
}
.adres002 {
    display: flex;
    justify-content: flex-end;
}
.adres003 {
    display: flex;
    justify-content: flex-end;
}
.contacts {
    display: flex;
    justify-content: flex-end;
}