body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

/*Navigation fixed*/

.nav {
	position: fixed;
	width: 100%; 
	height: 13vh;
	background: #fff;
	z-index: 2;
	display: flex;
}
.navbox {
	width: inherit;
	height: 13vh;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 2px solid #EDEDEDFF;
}
.petalbox {
	padding-left: 2%;
}
.petal {
	font-weight: bold;
	font-size: 40px;
	text-decoration: none;
	color: #000;
}
.navlinkmainbox {
	display: flex;
	align-items: center; 

}
.navlink {
	text-decoration: none;
	color: #000;
	font-weight: bold;
}

.navlinkbox {
	display: block;
	align-items: center;
	justify-content: center;
	width: 135px;
	padding-left: 2%;
}

.navlink:hover {
	color: #1AE4ACFF;
}
.navlink1 {
	text-decoration: none;
	color: #fff;
	font-weight: bold;
	width: 150px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.navlinkbox1 {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 5%;
	margin-left: 3%;
	background: #000;
	width: 150px;
	height: 50px;
	border-radius: 25px;
	transition: 0.2s;
}
.navlinkbox1:hover {
	background: #1AE4ACFF;
}
.line {
	height: 13vh;
	width: 2.5px;
	background: #EDEDEDFF;
	margin-right: 8%;
}

/*First screen*/

.firstscreen {
	padding-top: 19%;
	border-bottom: 2px solid #EDEDEDFF;
}
.firstbox {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.firstimg {
	width: 98vw;
}
.firsttext {
	text-align: center;
	font-size: calc(15px + 2vw);
	margin-bottom: 6%;
}
.firstlinkbox {
	background: #000;
	width: 250px;
	height: 70px;
	border-radius: 35px;
	transition: 0.2s;
	margin-top: 4%;
}
.firstlink {
	text-decoration: none;
	color: #fff;
	font-weight: bold;
	font-size: 24px;
	width: 250px;
	height: 70px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 35px;
}
.firstlink:hover {
	background: #1AE4ACFF;
}

/*Second screen*/
.secondbox {
	height: 80vh;
	display: flex;
	flex-direction: row;
	border-bottom: 2px solid #EDEDEDFF;

}
.secondlabels {
	display: flex;
	align-items: center;
	justify-content: center;
}
.label {
	width: 50%;
	height: 30%;
}
.citi {
	height: 8vh;
}
.secondtextbox {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 13%;
	margin-left: 9%;
}
.secondtext {
	width: 25vw;
	color: #939393FF;
	font-size: calc(5px + 1vw);
	line-height: 35px;
}

/*Third screen*/

.thirdbox {
	height: 86vh;
	border-bottom: 2px solid #EDEDEDFF;
}
.thirdtextbox {
	display: flex;
	align-items: center;
	justify-content: center;
}
.thirdmaintext {
	font-size: calc(15px + 2vw);
	margin-top: 7%;
}
.thirdrow {
	display: flex;
	align-items: center;
	justify-content: center;
}
.thirdnumber {
	width: 55px;
	height: 55px;
	background: #000;
	color: #fff;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 1%;
	font-weight: bold;
	font-size: calc(7px + 1vw);
}
.thirdrowtext {
	width: 20%;
	margin-right: 12%;
	color: #919191FF;
	font-size: calc(5px + 1vw);
}
.thirdrowbox {
	margin-top: 5%;
	margin-left: 10%;
}

/*Fourth screen*/

.fourthscreen {
	width: 98vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	border-bottom: 2px solid #EDEDEDFF;
}
.fourthmainbox {
	display: grid;
	grid-gap: 25%;
	grid-auto-rows: 20vh;
	grid-template-columns: 15vw 15vw 15vw;
	margin-right: 25%;
}
.fourthbox {
	text-align: center;
}
.fourthtext {
	color: #939393FF;
	font-size: calc(5px + 1vw);
	margin-top: 15%;
}

/*Fifth screen*/

.fifthbox {
	width: 98vw;
	height: 100vh;
	display: flex;flex-direction: column;
	align-items: center;
}
.fifthmaintext {
	font-size: calc(15px + 2vw);
	margin-top: 10%;
	margin-bottom: 2%;
}
.fifthtext {
	color: #A0A0A0FF;
	font-size: calc(5px + 1vw);
}

/*Tenth screen*/

.tenthbox {
	width: 100%;
	background: #F9F9F9FF;
	text-align: left;

}
.tenthboxformid {
	width: 100%;
	min-height: 72vh; 
	display: flex;
	align-items: center;
	justify-content: center;
}
.tenthminibox {
	display: flex;
	flex-direction: column;
	margin-right: 6%;
	width: 150px;
	height: 200px;
	
/*	white-space: nowrap; */ 
	 
}
.tenthminibox:nth-child(4) {
	margin-left: 6%;
	width: 400px;
	height: 200px;
}

.tenthbottext {
	font-size: 0.8em;
	line-height: 18px;
	color: #9E9E9EFF;
	
	
}
.tenthheader {
	color: #9B9B9BFF;
	margin-bottom: 15%;
	font-weight: bold;
}
.tenthfirstboxlink {
	margin-top: 9%;
	text-decoration: none;
	color: #8C8C8CFF;

}
.tenthfirstboxlink:hover {
	color: #3A3A3AFF;
}
.tenthlink {
	text-decoration: none;
	display: flex;
	align-items: center;
	justify-content: center;
	justify-content: space-around;
	color: #333;
	height: 60px;
	width: 150px;
}
.tenthrightbox {
	width: 150px;
	height: 60px;
	margin-right: 5%;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 12px;
	border: 1px solid #C6C6C6FF;
	transition: 0.3s;
}
.tenthrightbox:hover {
	background: #EDEDEDFF;
	border: 1px solid #EDEDEDFF;
}
.tenthbuttonbox {
	display: flex;
	margin-bottom: 12%;

}
.tenthlastboxtext {
	margin-bottom: 5%;
	color: #9B9B9BFF;
	font-weight: bold;
}
/*Footer*/

.footerbox {
	width: 100%;
	height: 100%;
	min-height: 8.5vh;
	background: #000;
	display: flex;
	justify-content: space-around;
	

}
.footertext {
	color: #fff;
	font-size: 0.8em;
	margin-top: 1.3%;
}
.footerlink {
	text-decoration: none;
	color: #fff;
	margin-right: 3.5%;
	white-space: nowrap;
}
.footerlink:hover {
	color: #7A7A7AFF;
}
.footerleft {
	
}
.footerright {
	width: 40vw;
	display: flex;
	flex-wrap: wrap;

}

@media (max-width: 991px) {
	.tenthboxformid {
		display: flex;
		flex-direction: column;
		margin-bottom: 10%;
		padding: 5%;
	}
	.tenthminibox {
		min-height: 200px;
		height: 100%;
		font-size: 25px;
	}
}