body {
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}
.petal-invitebox {
	width: 100vw;
	height: 100vh;
	background: #2EFFFFFF;
}
.petal {
	text-decoration: none;
	color: #fff;
	font-size: 3em;
	font-weight: bold;
	margin-left: 3%;
}
.invite-input-text {
	display: flex;
	flex-direction: column;
	text-align: center;
	margin-top: 8%;
}
.bigtext {
	color: #fff;
	font-size: 3.3em;
	margin-bottom: 2%;
}
.normaltext {
	color: #fff;
	font-size: 1.5em;
	line-height: 33px;
	margin-bottom: 2%;
}
.inputblock {
	display: flex;
	flex-direction: column;
	
}
.inputbox {
	margin-bottom: 1%;
}
.inputstyle {
	width: 320px;
	height: 75px;
	border-radius: 9px;
	border: #fff;
}
.invite-button {
	margin-bottom: 1.8%;
}
.button {
	width: 320px;
	height: 75px;
	border-radius: 9px;
	background: #15D9E9FF;
	border: #15D9E9FF;
	cursor: pointer;
}
.invite-link {
	text-decoration: none;
	color: #0A76F4FF;
}
.smalltext {
	font-size: 0.8em;
	color: #595959FF;
}
.invite-link {
	margin-bottom: 1.8%;
}

input[type=text], select {
	font-size: 25px;
}