body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
/*Navigation fixed*/
.nav {
	position: fixed;
	width: 100%; 
	height: 13vh;
	background: #fff;
	z-index: 2;
	display: flex;
}
.navbox {
	width: inherit;
	height: 13vh;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 2px solid #EDEDEDFF;
}
.petalbox {
	padding-left: 2%;
}
.petal {
	font-weight: bold;
	font-size: 40px;
	text-decoration: none;
	color: #000;
}
.navlinkmainbox {
	display: flex;
	align-items: center; 

}
.navlink {
	text-decoration: none;
	color: #000;
	font-weight: bold;
}

.navlinkbox {
	display: block;
	align-items: center;
	justify-content: center;
	width: 135px;
	padding-left: 2%;
}

.navlink:hover {
	color: #1AE4ACFF;
}
.navlink1 {
	text-decoration: none;
	color: #fff;
	font-weight: bold;
	width: 150px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.navlinkbox1 {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 5%;
	margin-left: 3%;
	background: #000;
	width: 150px;
	height: 50px;
	border-radius: 25px;
	transition: 0.2s;
}
.navlinkbox1:hover {
	background: #1AE4ACFF;
}
.line {
	height: 13vh;
	width: 2.5px;
	background: #EDEDEDFF;
	margin-right: 8%;
}
/* First Screen */
.firstbox {
	
	height: 100vh;
	display: flex;
	padding-top: 8.5%;
}
.firstimg {
	width: 50vw;
	height: 100vh;
	
}
.firsttextbox {
	width: 50vw;
	border-bottom: 2px solid #BCBCBCFF;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	padding-left: 10%;
}
.firstbigtext {
	font-size: calc(15px + 2vw);
	margin-bottom: 13%;

}
.firsttext {
	font-size: calc(5px + 1vw);
	color: #8C8C8CFF;
	text-align: left;
}

/* second screen */

.secondtextbox {
	margin: 0; 
	height: 70vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-bottom: 2px solid #DDDDDDFF;
}
.secondmaintext {
	font-size: calc(13px + 2vw);
}
.secondusualtextbox {
	width: 98vw;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
.secondusualtext {
	padding: 5%;
	font-size: calc(10px + 1vw);
	font-weight: bold;
	color: #8C8C8CFF;
}
.secondicon {
	margin-bottom: -5px;
}


/* Third screen */

.thirdbox {
	height: 85vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.thirdtext {
	font-size: calc(15px + 2vw);
	margin-top: 10%;
}
.thirdlinkbox {
	width: 150px;
	height: 70px;
	background: #000;
	border-radius: 33px;
	margin-top: 4%;
	
}
.thirdlinkbox:hover {
	background: #1AE4ACFF;
}
.thirdlink {
	width: 150px;
	height: 70px;
	text-decoration: none;
	color: #fff;
	font-weight: bold;
	font-size: 22px;
	display: flex;
	align-items: center;
	justify-content: center;
}

/*Tenth screen*/

.tenthbox {
	width: 100%;
	background: #F9F9F9FF;
	text-align: left;

}
.tenthboxformid {
	width: 100%;
	height: 72vh; 
	display: flex;
	align-items: center;
	justify-content: center;
}
.tenthminibox {
	display: flex;
	flex-direction: column;
	margin-right: 6%;
	width: 150px;
	height: 200px;
	
/*	white-space: nowrap; */ 
	 
}
.tenthminibox:nth-child(4) {
	margin-left: 6%;
	width: 400px;
	height: 200px;
}

.tenthbottext {
	font-size: 0.8em;
	line-height: 18px;
	color: #9E9E9EFF;
	
	
}
.tenthheader {
	color: #9B9B9BFF;
	margin-bottom: 15%;
	font-weight: bold;
}
.tenthfirstboxlink {
	margin-top: 9%;
	text-decoration: none;
	color: #8C8C8CFF;

}
.tenthfirstboxlink:hover {
	color: #3A3A3AFF;
}
.tenthlink {
	text-decoration: none;
	display: flex;
	align-items: center;
	justify-content: center;
	justify-content: space-around;
	color: #333;
	height: 60px;
	width: 150px;
}
.tenthrightbox {
	width: 150px;
	height: 60px;
	margin-right: 5%;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 12px;
	border: 1px solid #C6C6C6FF;
	transition: 0.3s;
}
.tenthrightbox:hover {
	background: #EDEDEDFF;
	border: 1px solid #EDEDEDFF;
}
.tenthbuttonbox {
	display: flex;
	margin-bottom: 12%;

}
.tenthlastboxtext {
	margin-bottom: 5%;
	color: #9B9B9BFF;
	font-weight: bold;
}
/*Footer*/

.footerbox {
	width: 100%;
	height: 100%;
	min-height: 8.5vh;
	background: #000;
	display: flex;
	justify-content: space-around;
	

}
.footertext {
	color: #fff;
	font-size: 0.8em;
	margin-top: 1.3%;
}
.footerlink {
	text-decoration: none;
	color: #fff;
	margin-right: 3.5%;
	white-space: nowrap;
}
.footerlink:hover {
	color: #7A7A7AFF;
}
.footerleft {
	
}
.footerright {
	width: 40vw;
	display: flex;
	flex-wrap: wrap;

}

@media (max-width: 991px) {
	.tenthboxformid {
		display: flex;
		flex-direction: column;
		margin-bottom: 10%;
		padding: 5%;
	}
	.tenthminibox {
		min-height: 200px;
		height: 100%;
		font-size: 25px;
	}
}